.chat__header {
    padding: var(--common-padding);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.chat__name {
    font-weight: 600;
}

.chat__users {
    font-size: 14px;
}

.chat__tag {
    border: none;
    background-color: var(--primary);
    font-size: 12px;
    border-bottom: 1px solid transparent;
}

.chat__tag:hover {
    border-bottom: 1px solid var(--secondary);
    cursor: pointer;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
    background-color: var(--primary);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"><defs><pattern id="handdrawn-wavy-lines" x="0" y="0" width="40" height="40" patternUnits="userSpaceOnUse"><path d="M0 30 Q3 28 6 25" stroke="%239c9c9c" stroke-width="1.3" fill="none" stroke-linecap="round"/><path d="M20 32 Q23 31 26 28" stroke="%239c9c9c" stroke-width="1.1" fill="none" stroke-linecap="round"/><path d="M0 10 Q3 12 5 9" stroke="%239c9c9c" stroke-width="1.2" fill="none" stroke-linecap="round"/><path d="M20 12 Q22 15 25 13" stroke="%239c9c9c" stroke-width="1.0" fill="none" stroke-linecap="round"/></pattern></defs><rect width="100%" height="100%" fill="url(%23handdrawn-wavy-lines)"/></svg>');
    background-repeat: repeat;
}
