.button {
  display: inline-flex;
  width: fit-content;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--primary);
  border: none;
  padding: 4px 10px;
  border-radius: 2px;
  gap: 10px;
  align-items: center;
  color: var(--secondary)
}

.button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.button:active {
  transform: translateY(1px);
}

.button__disabled {
  color: var(--font-secondary);
}

.button__disabled:hover{
  cursor: default;
  background-color: var(--primary);
  transform: translateY(0);
}

.button__disabled:active {
  transform: translateY(0);
}

.button_icon {
  padding: 0;
}

.button_tag {
  border: none;
  background-color: var(--primary);
  font-size: 12px;
  border-bottom: 1px solid transparent;
}

.button_tag:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button_tag:active {
  transform: translateY(0.5px);
}

.button_icon:hover {
  background-color: var(--primary);
  transform: scale(1.1);
}

.button_icon:active {
  transform: scale(1);
}

.button_contact:hover {
  background-color: var(--primary);
}

.button_contact__selected {
  display: none;
}
