<form class="form" name="sign_up_form">
  <div class="form__inputs">
    {{> TextInput id="first_name" label="First name" required="true" type="text" }}
    {{> TextInput id="second_name" label="Surname" required="true" type="text" }}
    {{> TextInput id="email" label="Email" required="true" type="text" }}
    {{> TextInput id="phone" label="Phone number" required="true" type="text" }}
    {{> TextInput id="login" label="Login" required="true" type="text" }}
    {{> TextInput id="password" label="Password" required="true" type="password" }}
  </div>
  {{> Button title="Sign up and Enter" }}
</form>
