<form class="form" name="sign_in_form">
  <div class="form__inputs">
    {{> TextInput id="login" label="Login" type="text" required='true' placeholder=""}}
    {{> TextInput id="password" label="Password"  type="password" required='true' placeholder=""}}
  </div>
  {{> Button title="Enter"}}
</form>
