@import "/index.css";

.grid {
    height: 100vh;
    min-height: 0;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 100px 1fr;
}

.sidebar__header {
    grid-row: 1;
    grid-column: 1;
    border-bottom: var(--border-common);
    border-right: var(--border-common);
}

.sidebar__body {
    grid-row: 2;
    grid-column: 1;
    max-height: 100%;
    min-height: 0;
    overflow-y: auto;
    border-right: var(--border-common);
}

.main {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 140px;
    min-height: 0;
}

.main__body {
    overflow: auto;
    min-height: 0;
}

.main__footer {
    border-top: var(--border-common);
}
