<li class="contact">
  {{> Avatar src=avatar altText="contact-avatar" classes="avatar__contact"}}
  <div class="contact__body">
    <p class="contact__chatName"><span class="contact__title">Chat: </span>{{chatName}}</p>
    <p class="contact__name"><span class="contact__title">With: </span>{{name}}</p>
    <p class="contact__userName">@{{userName}}</p>
    <div class="contact__tags">
      {{#each tags}}
        <button class="contact__tag">
          #{{this}}
        </button>
      {{/each}}
    </div>
  </div>
</li>
