<li class="info-block">
  <div class="icon-placeholder"></div>
  <div class="info-block__container">
    <p class="info-block__main-text">{{app}}</p>
    <p class="info-block__assistive-text">{{assistive}}</p>
  </div>
</li>
