<li class="message{{#if owner}} message__chat-owner{{/if}}{{#if contact}} message__contact{{/if}}">
  {{#if owner}}
    <p>{{text}}</p>
    {{> Avatar src=avatar altText="user-avatar" classes="avatar__chat"}}
  {{else}}
    {{> Avatar src=avatar altText="user-avatar" classes="avatar__chat"}}
    <p>{{text}}</p>
  {{/if}}
</li>
